<script>
  $(function(){
    $(".nav-menu li").hover(function() {
      $(this).children("ul").stop().slideToggle(500)
    })
  });
  </script>
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container">
      <div class="navbar-brand">REST API</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--div class="collapse navbar-collapse" id="navbarSupportedContent"-->
      <div class='nav-menu-bar'>
        <ul class="nav-menu">
          <!--li class="nav-item"><a href="/" class="nav-link">Home</a></li-->
          <li class="nav-item"><a href="/rest" class="nav-link">Rest Api</a></li>
          <li class="nav-item"><a href="/board" class="nav-link">Board</a></li>
          <li ><a href="#">파일</a>
            <ul>
              <li><a href="/searchfolder" class="nav-link">SearchFolder</a></li>
              <li><a href="/searchfolder/uploadfile" class="nav-link">FileUpload</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="/addr" class="nav-link">주소검색</a></li>
          <% if(issession){ %>
            <li class="nav-item"><a href="/users/list" class="nav-link">사용자</a></li>
          <%}%>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <% if(issession){ %>
          <form action="/users/logout" method="get">
            <input type="submit" value="로그아웃">
          </form>
        <%}else{%>
          <form action="/users/login" method="get">
            <input type="submit" value="로그인">
          </form>
        <%}%>
      </div>
    </div>
  </nav>