<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>    
    <div class="container mb-3">
        <nav aria-label="breadcrumb"> <!-- 1 -->
          <ol class="breadcrumb p-1 pl-2 pr-2">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/addr">Address</a></li>
            <li class="breadcrumb-item active" aria-current="page">Address</li>
          </ol>
        </nav>
        <form name="form" id="form" method="post">
            <input type="hidden" name="currentPage" value="1"/> <!-- 요청 변수 설정 (현재 페이지. currentPage : n > 0) -->
            <input type="hidden" name="countPerPage" value="10"/><!-- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) -->
            <input type="hidden" name="resultType" value="json"/> <!-- 요청 변수 설정 (검색결과형식 설정, json) --> 
            <input type="hidden" name="confmKey" value="TESTJUSOGOKR"/><!-- 요청 변수 설정 (승인키) -->
          
            <div class="form-group">
                <div class="row">
                <div class="col-sm-1">
                    <label for="searchfolder">Address</label>
                </div>
                <div class="col-sm-9">              
                    <input type="text" id="keyword" name="keyword" value=""  class="form-control" onkeydown="enterSearch();" />          
                </div>
                <div class="col-sm-2">
                    <a href="#" onclick="getAddr()"><span class="btn btn-primary btn-submit">주소검색하기</span></a>
                </div>
                </div>
            </div>
        </form>
        <table class="board-table table table-sm border-bottom">
            <tbody id="list"></tbody>
        </table>
      </div>
    <%- include('../../public/dist/js/addr.js') %>
  </body>
</html>