<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h2 class="mb-3">ReadPath</h2>
      <form action="/searchfolder" method="post">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-1">
              <label for="searchfolder">Path</label>
            </div>
            <div class="col-sm-9">              
              <input type="text" id="path" name="path" value="" class="form-control">          
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Submit</button>        
            </div>
          </div>
        </div>
      </form>
      <div class="form-group">
        <%if(list != null || list.length > 0){
            list.forEach(function(val) { %>
              <div class="row"><%=val%></div>
          <% }) %>
        <%}%>          
      </div>
    </div>
  </body>
</html>