<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">Rest Api</h2>

      <P>REST(REpresentational State Transfer)</p>
      <span>
        “Representational State Transfer라는 용어의 약자로서 2000년도에 로이 필딩 (Roy Fielding)의 박사학위 논문에서 최초로 소개됨. 
        <br>로이 필딩은 HTTP의 주요 저자 중 한 사람으로 그 당시 웹(HTTP) 설계의 우수성에 비해 제대로 사용되어지지 못하는 모습에 안타까워하며 
        <br>웹의 장점을 최대한 활용할 수 있는 아키텍처로써 REST를 발표”
      </span>
    </div>
  </body>
</html>