<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">      
      <h2 class="mb-3">Rest Api</h2>
      <div class="row">
        <P>REST(REpresentational State Transfer)</p>
        <span>
          “Representational State Transfer라는 용어의 약자로서 2000년도에 로이 필딩 (Roy Fielding)의 박사학위 논문에서 최초로 소개됨. 
          <br>로이 필딩은 HTTP의 주요 저자 중 한 사람으로 그 당시 웹(HTTP) 설계의 우수성에 비해 제대로 사용되어지지 못하는 모습에 안타까워하며 
          <br>웹의 장점을 최대한 활용할 수 있는 아키텍처로써 REST를 발표”
        </span>
      </div>
      <br>
      <div class="row">
        <table class="board-table table table-sm border-bottom">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="col-sm-2">Method</th>
              <th scope="col" class="col-sm-10">역할</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>POST</td>
              <td>POST를 통해 해당 URI를 요청하면 리소스를 생성합니다.</td>
            </tr>	
            <tr>
              <td>GET</td>
              <td>GET를 통해 해당 리소스를 조회합니다. 리소스를 조회하고 해당 도큐먼트에 대한 자세한 정보를 가져온다.</td>
            </tr>	
            <tr>
              <td>PUT</td>
              <td>PUT를 통해 해당 리소스를 수정합니다.</td>
            </tr>	
            <tr>
              <td>DELETE</td>
              <td>DELETE를 통해 리소스를 삭제합니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>